button {
  height: 35px;
  line-height: 35px;
  padding: 0 1.5rem;
  color: #424242;
  background: #f5f5f5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.225);
  border-radius: 2px;
  outline: none;
  border: none;
  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
  }
  &:focus {
    border: 1px solid #3f50b5;
  }
}

.popper-position-template {
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.popper-horizontal-position-wrapper {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin: 0 auto;
}

.popper-position-top,
.popper-position-bottom {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.popper-position-left,
.popper-position-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.popper-triggers {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.popper-colors {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.popper-playground {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
